# Variables

Variables are nothing but reserved memory locations to store values. 
This means that when you create a variable you reserve some space in memory.

Based on the data type of a variable, the interpreter allocates memory and decides what can be stored in the reserved memory. 




Therefore, by assigning different data types to variables, you can store integers, decimals or characters in these variables.

Assigning Values to Variables
Python variables do not need explicit declaration to reserve memory space. The declaration happens automatically when you assign a value to a variable. The equal sign (=) is used to assign values to variables.

In [0]:
print("hello")

hello

In [0]:
print('hi')

hi

In [0]:
# Mobile phone: It may ask you to store the snap in a particular location. 
# Similarly, the location in computer will be allocated when you define the variable

#What is interpreter? 
# What ever we are defining in a program using a language is plain English with certain rules and format. 
# But computers understand only 0's and 1's.
#

In [0]:
#!/usr/bin/python

counter = 100          # An integer assignment
miles   = 1000.0       # A floating point
name    = "John"       # A string

print(counter)
print(miles)
print(name)

100
1000.0
John

In [0]:
# What is the type of variables?
type(counter)

int

In [0]:
print("Printing the type of counter, miles, name", type(counter),type(miles), type(name))

Printing the type of counter, miles, name <class 'int'> <class 'float'> <class 'str'>

# Multiple Assignment

In [0]:
a = b = c = 1

In [0]:
a=None

In [0]:
type(a)

NoneType

In [0]:
type(b)

int

In [0]:
c=2

In [0]:
b

1

In [0]:
a,b,c = 1,2,"john"

In [0]:
id(a)

10964896

In [0]:
id(b)

10964928

In [0]:
a=b=c=3

In [0]:
print("Address of a, b, c", id(a),id(b),id(c))

Address of a, b, c 10964960 10964960 10964960

In [0]:
# This means that one object/value is stored in memory only once and multiple variables can access that data.

# Different Data types

# Python Numbers

In [0]:
var1 = 1
var2 = 10

In [0]:
type(var1)

In [0]:
id(var1)

In [0]:
del var1

In [0]:
type(var1)

In [0]:
id(var1)

In [0]:
#Since I have deleted the variable, I have received this error.
# Most of the times,when ever you encounter error, dont worry.
# Like you, there might be many people who might have encountered the same error. 
# Check on google by typing the same error.
# https://stackoverflow.com is one of the best forums where you can get ways to fix your errors.

In [0]:
# Various types of numerics allowed.
var1=3+4j
type(var1)

In [0]:
var1=3.4
type(var1)

###

In [0]:
a=3+2j
b=2+4j
complex(3)

(3+0j)

In [0]:
import math
math.floor(2.3)

2

# Python supports different numerical types −

int (signed integers) − They are often called just integers or ints. They are positive or negative whole numbers with no decimal point. Integers in Python 3 are of unlimited size. Python 2 has two integer types - int and long. There is no 'long integer' in Python 3 anymore.

float (floating point real values) − Also called floats, they represent real numbers and are written with a decimal point dividing the integer and the fractional parts. Floats may also be in scientific notation, with E or e indicating the power of 10 (2.5e2 = 2.5 x 102 = 250).

complex (complex numbers) − are of the form a + bJ, where a and b are floats and J (or j) represents the square root of -1 (which is an imaginary number). The real part of the number is a, and the imaginary part is b. Complex numbers are not used much in Python programming.

# Number Type Conversion
Python converts numbers internally in an expression containing mixed types to a common type for evaluation. Sometimes, you need to coerce a number explicitly from one type to another to satisfy the requirements of an operator or function parameter.

Type int(x) to convert x to a plain integer.

Type long(x) to convert x to a long integer.

Type float(x) to convert x to a floating-point number.

Type complex(x) to convert x to a complex number with real part x and imaginary part zero.

Type complex(x, y) to convert x and y to a complex number with real part x and imaginary part y. x and y are numeric expressions

# Mathematical Function

Sr.No.	Function & Returns ( Description )

1	abs(x)
The absolute value of x: the (positive) distance between x and zero.

2	ceil(x)
The ceiling of x: the smallest integer not less than x.

3	
cmp(x, y)

-1 if x < y, 0 if x == y, or 1 if x > y. Deprecated in Python 3. Instead use return (x>y)-(x<y).

4	exp(x)
The exponential of x: ex

5	fabs(x)
The absolute value of x.

6	floor(x)
The floor of x: the largest integer not greater than x.

7	log(x)
The natural logarithm of x, for x > 0.

8	log10(x)
The base-10 logarithm of x for x > 0.

9	max(x1, x2,...)
The largest of its arguments: the value closest to positive infinity

10	min(x1, x2,...)
The smallest of its arguments: the value closest to negative infinity.

11	modf(x)
The fractional and integer parts of x in a two-item tuple. Both parts have the same sign as x. The integer part is returned as a float.

12	pow(x, y)
The value of x**y.

13	round(x [,n])
x rounded to n digits from the decimal point. Python rounds away from zero as a tie-breaker: round(0.5) is 1.0 and round(-0.5) is -1.0.

14	sqrt(x)
The square root of x for x > 0.

In [0]:
#You might have come across so many mathematical functions in your science,mathematics classes.

# Trignometric functions
Python includes the following functions that perform trigonometric calculations.

Sr.No.	Function & Description

1	acos(x)
Return the arc cosine of x, in radians.

2	asin(x)
Return the arc sine of x, in radians.

3	atan(x)
Return the arc tangent of x, in radians.

4	atan2(y, x)
Return atan(y / x), in radians.

5	cos(x)
Return the cosine of x radians.

6	hypot(x, y)
Return the Euclidean norm, sqrt(x*x + y*y).

7	sin(x)
Return the sine of x radians.

8	tan(x)
Return the tangent of x radians.

9	degrees(x)
Converts angle x from radians to degrees.

10	radians(x)
Converts angle x from degrees to radians.

Mathematical Constants
The module also defines two mathematical constants −

Sr.No.	Constants & Description

1	
pi

The mathematical constant pi.

2	
e

The mathematical constant e.

In [0]:
pow(2,3)

8

In [0]:
import math
math.cos(math.pi)

In [0]:
t=math.cos(math.pi/2)

In [0]:
print( t)
print("Formating {0:.00f}".format(t))
# print("Sammy ate {0:.0f} percent of a pizza!".format(75.765367))
# math.cos(math.pi/2))

6.123233995736766e-17
Formating 0

In [0]:
type(math.cos(math.pi/2))

In [0]:
#What you can observe here is that instead of representing 0, python is giving the output in scientific format.
int(math.cos(math.pi/2))

0

In [0]:
#There are so many other type of functions which are available in python. 
# Google it when you are in need.

import numpy as np

In [0]:

import numpy as np

In [0]:
# a=np.array([[2 3], [1 1]])

# Python Strings

Strings are amongst the most popular types in Python.
We can create them simply by enclosing characters in quotes. 
Python treats single quotes the same as double quotes. 
Creating strings is as simple as assigning a value to a variable.

In [0]:
var1 = 'Hello World'
var2 = "Python Programming"

In [0]:
print(var1,var2)

# Python Indexing/Slicing operator

In [0]:
# Python indexing starts from zero. You will get familiar with that soon. 
print ("var1[0]: ", var1[0])
print ("var2[1:5]: ", var2[1:5])
#Update the strings
var1 = 'Hello World!'
print ("Updated String :- ", var1[:6] + 'Python')
#Only when we assign, the value will get stored.
print("var1",var1)
var1=var1[:6] + 'Python'
print("var1",var1)

In [0]:
a='Lincoln'

In [0]:
print(a[0])

L

In [0]:
print(a[2:])

ncoln

In [0]:
print(a[:4])

Linc

In [0]:
'Linc'.lower()

'linc'

In [0]:
s='Linc'
s.upper()

'LINC'

# String functions
Sr.No.	Methods & Description

1	capitalize()
Capitalizes first letter of string

2	center(width, fillchar)
Returns a string padded with fillchar with the original string centered to a total of width columns.

3	count(str, beg = 0,end = len(string))
Counts how many times str occurs in string or in a substring of string if starting index beg and ending index end are given.

4	decode(encoding = 'UTF-8',errors = 'strict')
Decodes the string using the codec registered for encoding. encoding defaults to the default string encoding.

5	encode(encoding = 'UTF-8',errors = 'strict')
Returns encoded string version of string; on error, default is to raise a ValueError unless errors is given with 'ignore' or 'replace'.

6	endswith(suffix, beg = 0, end = len(string))
Determines if string or a substring of string (if starting index beg and ending index end are given) ends with suffix; returns true if so and false otherwise.

7	expandtabs(tabsize = 8)
Expands tabs in string to multiple spaces; defaults to 8 spaces per tab if tabsize not provided.

8	find(str, beg = 0 end = len(string))
Determine if str occurs in string or in a substring of string if starting index beg and ending index end are given returns index if found and -1 otherwise.

9	index(str, beg = 0, end = len(string))
Same as find(), but raises an exception if str not found.

10	isalnum()
Returns true if string has at least 1 character and all characters are alphanumeric and false otherwise.

11	isalpha()
Returns true if string has at least 1 character and all characters are alphabetic and false otherwise.

12	isdigit()
Returns true if string contains only digits and false otherwise.

13	islower()
Returns true if string has at least 1 cased character and all cased characters are in lowercase and false otherwise.

14	isnumeric()
Returns true if a unicode string contains only numeric characters and false otherwise.

15	isspace()
Returns true if string contains only whitespace characters and false otherwise.

16	istitle()
Returns true if string is properly "titlecased" and false otherwise.

17	isupper()
Returns true if string has at least one cased character and all cased characters are in uppercase and false otherwise.

18	join(seq)
Merges (concatenates) the string representations of elements in sequence seq into a string, with separator string.

19	len(string)
Returns the length of the string

20	ljust(width[, fillchar])
Returns a space-padded string with the original string left-justified to a total of width columns.

21	lower()
Converts all uppercase letters in string to lowercase.

22	lstrip()
Removes all leading whitespace in string.

23	maketrans()
Returns a translation table to be used in translate function.

24	max(str)
Returns the max alphabetical character from the string str.

25	min(str)
Returns the min alphabetical character from the string str.

26	replace(old, new [, max])
Replaces all occurrences of old in string with new or at most max occurrences if max given.

27	rfind(str, beg = 0,end = len(string))
Same as find(), but search backwards in string.

28	rindex( str, beg = 0, end = len(string))
Same as index(), but search backwards in string.

29	rjust(width,[, fillchar])
Returns a space-padded string with the original string right-justified to a total of width columns.

30	rstrip()
Removes all trailing whitespace of string.

31	split(str="", num=string.count(str))
Splits string according to delimiter str (space if not provided) and returns list of substrings; split into at most num substrings if given.

32	splitlines( num=string.count('\n'))
Splits string at all (or num) NEWLINEs and returns a list of each line with NEWLINEs removed.

33	startswith(str, beg=0,end=len(string))
Determines if string or a substring of string (if starting index beg and ending index end are given) starts with substring str; returns true if so and false otherwise.

34	strip([chars])
Performs both lstrip() and rstrip() on string

35	swapcase()
Inverts case for all letters in string.

36	title()
Returns "titlecased" version of string, that is, all words begin with uppercase and the rest are lowercase.

37	translate(table, deletechars="")
Translates string according to translation table str(256 chars), removing those in the del string.

38	upper()
Converts lowercase letters in string to uppercase.

39	zfill (width)
Returns original string leftpadded with zeros to a total of width characters; intended for numbers, zfill() retains any sign given (less one zero).

40	isdecimal()
Returns true if a unicode string contains only decimal characters and false otherwise.

# Loops


The first statement in a function is executed first, followed by the second, and so on. There may be a situation when you need to execute a block of code several number of times.

Programming languages provide various control structures that allow more complicated execution paths.

A loop statement allows us to execute a statement or group of statements multiple times. The following diagram illustrates a loop statement.

# Loop to count the numbers from 1 to n

In [0]:
count=0;
n=4;
for i in range(2,n+1):
#     0,1,2,
    print("i",i)
    count=count+i*2
#     count=0
#     count=2
#     count=6
    print("count",count)
print(count)

i 2
count 4
i 3
count 10
i 4
count 18
18

In [0]:
print(range(5))

range(0, 5)

In [0]:
i=0
i=1
i=i*2
i

2

# Loop to check whether a number is prime or not

In [0]:
flag=1
n=17
for i in range(2,n):
#     Range of i is from 2 to n-1 
    print("value of i", i)
    if n%i==0:
#         Checking for the remainder
        flag=0
        break
#     print("value of i", i)

if flag==1:
    print("The number", n, "is a prime number")
else:
    print("The number", n, "is not a prime number")

value of i 2
value of i 3
value of i 4
value of i 5
value of i 6
value of i 7
value of i 8
value of i 9
value of i 10
value of i 11
value of i 12
value of i 13
value of i 14
value of i 15
value of i 16
The number 17 is a prime number

# Functions

In [0]:
def prime(n):
    flag=1
    if n==2:
        print("The number", n, "is a prime number")
#         return flag
    for i in range(2,n):
        if n%i==0:
            flag=0
            break
    if flag==1:
        print("The number", n, "is a prime number")
    else:
        print("The number", n, "is not a prime number")

print("Checking the numbers 2,5,7,8,21,51" )


# prime(99)
# Introduction of list
list=[2,5,7,8,21,51]
for i in list:
    print(i)
    prime(i)

Checking the numbers 2,5,7,8,21,51
2
The number 2 is a prime number
The number 2 is a prime number
5
The number 5 is a prime number
7
The number 7 is a prime number
8
The number 8 is not a prime number
21
The number 21 is not a prime number
51
The number 51 is not a prime number

In [0]:
# Reusability is the main intention behind functions and plays a crucial role in python